body {
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.dashboard {
    display: grid;
    grid-template-columns: minmax(280px, 1fr) 5fr;
    grid-template-rows: 1fr 6fr;
    margin: none;
    max-height: 100vh;
}

/* ----------
Sidebar styles
---------- */

.sidebar {
    background-color: azure;
    grid-row-start: 1;
    grid-row-end: -1;
    position: sticky;
    box-shadow: 1px 0px 5px 1px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding-left: 10px;
}

.logo {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 15px;
}

.logo > * {
    padding: 0 10px;
}

h1 {
    font-size: 1.6rem;
}

#castle-icon {
    height: 50px;
}

ul {
    list-style-type: none;
    color: inherit;
    padding: 0;
}

.sidebar-link > a {
    text-decoration: none;
}

div.sidebar-icon-title {
    display: flex;
    align-items: center;
    justify-content: start;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
}

div.sidebar-icon-title:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

div.sidebar-icon-title:active {
    background-color: lemonchiffon;
}

div.sidebar-icon-title > span {
    margin-left: 20px;
    font-size: 1rem;
}

#communities {
    margin-bottom: 40px;
}

/* ----------
Header styles
---------- */

.header {
    background-color: lemonchiffon;
    display: grid;
    grid-template-rows: 1fr 2fr;
    padding: 10px 30px;
    position: relative;
    box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.2);
}

.top-bar {
    display: flex;
    align-items: center;
    position: sticky;
}

.top-bar > * {
    flex: 0 1 1;
    margin-left: 10px;
    margin-right: 10px;
}

.top-bar > input {
    flex: 1;
    min-width: 100px;
    background-color: rgb(243, 243, 243);
    border: none;
    border-radius: 30px;
    font-size: 1.3rem;
    padding: 0px 15px;
    height: 40px;
}

.top-bar > .profile-image > img {
    height: 60px;
    border-radius: 50%;
}

#profile-name {
    font-size: 1rem;
    font-weight: bold;
}

.create {
    display: flex;
    align-items: center;
}

.create > * {
    flex: 0 1 1;
    margin-left: 15px;
    margin-right: 15px;
}

.create > .profile-image > img {
    height: 100px;
    border-radius: 50%;
}

.create > .greeting {
    flex: 1;
}

.greeting > * {
    margin-top: 5px;
    margin-bottom: 5px;
}

.create button {
    border: none;
    border-radius: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 130px;
    font-size: 1rem;
    font-weight: bold;
}

/* ----------
Main content styles
---------- */

.main-content {
    background-color: thistle;
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 15px;
}

h3 {
    margin: 0;
}

.your-projects {
    margin: 15px;
}

.card-grid {
    display: grid;
    margin-top: 20px;
    gap: 25px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.updates {
    margin: 15px;
    display: flex;
    flex-direction: column;
}

.updates div {
    margin-bottom: 15px;
}

.side-content {
    margin-top: 20px;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
}


/* ----------
Card styles
---------- */

.card {    
    background-color: #ffffff;
    padding: 15px;
    border-radius: 10px;
    border-left: 10px solid orange;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-actions {
    display: flex;
    justify-content: end;
}

.card-actions > * {
    margin-left: 10px;
    cursor: pointer;
}