.dashboard {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
}

.sidebar {
    background-color: azure;
    grid-row-start: 1;
    grid-row-end: -1;
}

.logo {
    display: flex;
    justify-content: start;
    align-items: center;
}

.logo > * {
    padding: 10px;
}

#castle-icon {
    height: 60px;
}

.header {
    background-color: lemonchiffon;
}

.main-content {
    background-color: thistle;
    overflow: auto;
}